name: OSX-bundle

on: [push, pull_request]

jobs:
  build-dealii:
    # build the actual image
    if: ${{ github.event.label.name == 'Build OSX app' }}

    name: Build OSX app
    runs-on: [macos-latest]

    steps:
    - uses: dsaltares/fetch-gh-release-asset@master
      with:
        repo: "luca-heltai/dealii"
        version: "v9.2.0-bundle"
        file: "deal.II.app-with-dependencies.tgz"
        token: ${{ secrets.GITHUB_TOKEN }}
      workdir: /Applications/
      run: |
        tar xfz deal.II.app-with-dependencies.tgz
        test -d /Applications/deal.II.app && echo  "OK"
        . /Applications/deal.II.app/Contents/MacOS/dealii.conf
        spack compilers
        spack find

  build-dependencies:
    # build the dependencies image
    if: ${{ github.event.label.name == 'Build OSX dependencies app' }}

    name: Build OSX dependencies app
    runs-on: [macos-latest]

    steps:
    - uses: dsaltares/fetch-gh-release-asset@master
      with:
        repo: "luca-heltai/dealii"
        version: "v9.2.0-bundle"
        file: "deal.II.app-empty.tgz"
        token: ${{ secrets.GITHUB_TOKEN }}
      workdir: /Applications/
      run: |
        tar xfz deal.II.app-with-dependencies.tgz
        test -d /Applications/deal.II.app && echo  "OK"
        . /Applications/deal.II.app/Contents/MacOS/dealii.conf
        spack compilers
        spack find