name: OSX-bundle

on: [push, pull_request]
  # workflow_dispatch:
  #   inputs:
  #       imagename:
  #         description: 'Image to build (app or dependencies)'
  #         required: true
  #         default: 'app'

jobs:
  build-dealii:
    # build the actual image
    # if: ${{ github.event.inputs.imagename == 'app' }}

    name: Build OSX app
    runs-on: [macos-latest]

    steps:
    - name: setup
      run: |
        curl -L https://github.com/luca-heltai/dealii/releases/download/v9.2.0-bundle/deal.II.app-with-dependencies.tgz
        ls -lh 
        tar xfz deal.II.app-with-dependencies.tgz
        mv deal.II.app /Applications/
        test -d /Applications/deal.II.app && echo  "OK"
        . /Applications/deal.II.app/Contents/MacOS/dealii.conf
        spack compilers
        spack find

  # build-dependencies:
  #   # build the dependencies image
  #   if: ${{ github.event.inputs.imagename == 'dependencies' }}

  #   name: Build OSX dependencies app
  #   runs-on: [macos-latest]

  #   steps:
  #   - name: download
  #     uses: dsaltares/fetch-gh-release-asset@master
  #     with:
  #       repo: "luca-heltai/dealii"
  #       version: "v9.2.0-bundle"
  #       file: "deal.II.app-empty.tgz"
  #       token: ${{ secrets.GITHUB_TOKEN }}
  #   - name: setup
  #     run: |
  #       tar xfz deal.II.app-with-dependencies.tgz
  #       mv deal.II.app /Applications/
  #       test -d /Applications/deal.II.app && echo  "OK"
  #       . /Applications/deal.II.app/Contents/MacOS/dealii.conf
  #       spack compilers
  #       spack find